@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --accent-gray: rgb(24, 29, 41);
    --accent-blue: #419AFF;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
    padding: 0;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    position: sticky;
    top: 0;
    background-color: var(--accent-gray);
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 25px;
    margin: 0;
    padding: 0 25px;
}

nav ul li {
    height: 24px;
    margin: 0 10px;
    padding: 8px;
}

nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 250ms;
}

nav ul li a:hover {
    opacity: 0.6;
}

nav ul li a i {
    font-size: 24px;
    color: white;
    transition: all 250ms;
}

nav ul li a i:hover {
    opacity: 0.6;
}

.menu {
    display: none;
}

.menu i {
    font-size: 24px;
    color: white;
    transition: all 250ms;
}

.menu i:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media only screen and (max-width: 720px) {    
    .dropdown {
        display: none;
        flex-direction: column;
        position: absolute;
        padding: 10px 25px;
        top: 75px;
        box-shadow: 0 10px 35px 0 rgb(13, 19, 27);
        background-color: var(--accent-gray);
    }

    .menu {
        display: block;
    }

    /* Activated using JavaScript */
    .active {
        display: flex;
    }
}

/* Hero Elements */

header {
    margin: 0;
    background-color: var(--accent-gray);
}

.hero {
    text-align: center;
    padding: 150px 25%;
    color: white;
}

.highlight {
    color: var(--accent-blue);
}

.learn-more {
    text-align: center;
    padding: 0 0 40px;
    color: white;
}

.learn-more p {
    margin: 0;
}

.learn-more a {
    display: inline-block;
    height: 40px;
}

.learn-more i {
    padding: 8px;
    font-size: 24px;
    color: white;
    transition: all 250ms;
}

.learn-more i:hover {
    transform: translateY(10px);
    color: var(--accent-blue);
}

/* Sections */

.section-header {
    text-align: center;
    margin: 50px 0;
    padding: 100px 20% 25px;
}

.section-header h1 {
    margin-bottom: 50px;
}

/* About */

.btn {
    margin-top: 25px;
    padding: 14px 54px;
    border: 2px solid var(--accent-blue);
    background-color: var(--accent-blue);
    color: white;
    font-weight: bold;
    transition: all 250ms;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: var(--accent-gray);
}

/* Projects */

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Each project */

.project {
    margin: 0 50px 100px;
    width: 75%;
    max-width: 400px;
    background-color: var(--accent-gray);
    color: white;
    box-shadow: 0 10px 35px 0 #7a808a;
}

.project img {
    width: 100%;
    object-fit: cover;
}

.project-text {
    padding: 10px 10% 0;
    font-size: 80%;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 10px;
}

.skills li {
    color: var(--accent-gray);
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 50px;
}

@media only screen and (max-width: 550px) {
    .buttons {
        flex-direction: column;
        gap: 15px;
    }
}

.project-btn, .contact-btn {
    width: 150px;
    padding: 12px 42px;
    border: 2px solid var(--accent-blue);
    background-color: var(--accent-gray);
    color: white;
    font-weight: bold;
    transition: all 250ms;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.project-btn:hover, .contact-btn:hover {
    cursor: pointer;
    background-color: var(--accent-blue);
    color: white;
}

/*  Contact */

.contact {
    margin: 0;
    background-color: var(--accent-gray);
    color: white;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    margin-bottom: 300px;
}

.contact-form input, textarea {
    line-height: 24px;
    margin: 10px 0 20px;
    padding: 8px 12px;
    border: 2px solid var(--accent-gray);
    border-radius: 8px;
    font-size: 16px;
}

.contact-form textarea {
    min-height: 200px;
    max-width: 500px;
}

.contact-btn {
    margin: 50px auto 0;
}